.Cloze {BACKGROUND-COLOR: #FFFF00; COLOR: red;FONT-FAMILY: 풕턼환쥌;Arial;FONT-STYLE: normal;FONT-WEIGHT: bold;FONT-SIZE: 16pt;}
.clozed {BACKGROUND-COLOR: #E67300;COLOR: black;FONT-FAMILY: 풕턼환쥌;Arial;FONT-STYLE: normal;FONT-WEIGHT: bold;FONT-SIZE: 12pt;}
.Extract {BACKGROUND-COLOR: #44C2FF;}
.headers {BACKGROUND-COLOR: #C6C6FF; COLOR: #000000; FONT-FAMILY: 풕턼환쥌;Arial;FONT-STYLE: normal;FONT-WEIGHT: bold;FONT-SIZE: 12pt;}
.RefText {BACKGROUND-COLOR: #FFFFC4;COLOR: #000000;FONT-FAMILY: 풕턼환쥌;Arial;FONT-STYLE: normal;FONT-WEIGHT: bold;FONT-SIZE: 12pt;}
.Reference {BACKGROUND-COLOR: #FFA6FF;COLOR: #C40000;FONT-FAMILY: 풕턼환쥌;Times New Roman;FONT-STYLE: italic;FONT-WEIGHT: normal;FONT-SIZE: 10pt;}
.Highlight {BACKGROUND-COLOR: #FFFF86;COLOR: #FF0000;FONT-FAMILY: 풕턼환쥌;Arial;FONT-STYLE: normal;FONT-WEIGHT: bold;FONT-SIZE: 12pt;}
.SearchHighlight {BACKGROUND-COLOR: yellow;COLOR: blackFONT-STYLE: normal;FONT-WEIGHT: bold;FONT-SIZE: 11pt;}
.Ignore {BACKGROUND-COLOR: #DAB6B6;COLOR: #000000;FONT-FAMILY: 풕턼환쥌;Arial;FONT-STYLE: italic;FONT-WEIGHT: normal;FONT-SIZE: 9pt;}
.tablelabel {BACKGROUND-COLOR: #CCCCCC;COLOR: blue;FONT-FAMILY: 풕턼환쥌;Times New Roman;FONT-STYLE: italic;FONT-WEIGHT: normal;FONT-SIZE: 6pt}

BODY
{
BACKGROUND-COLOR: #C2D1D6;
COLOR: #000000;
FONT-FAMILY: 풕턼환쥌;
FONT-STYLE: normal;
FONT-WEIGHT: normal;
FONT-SIZE: 20pt;
}